.footer {
  flex: 0 0 auto;
  background-color: #095073;
  color: #fff;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  gap: 30px;
  font-size: 1.3em;
}
.footer .icon {
  transform: rotate(-30deg);
}
